* {
  box-sizing: border-box;
}

:root {
  --blue: rgb(51 65 85);
  --lightblue: rgb(71 85 105);
  --font: "Rubik", sans-serif;
  --color-text: rgb(248 250 252);
  --shadow: 2px 9px 49px -17px rgba(0, 0, 0, 0.3);
}

strong {
  padding: 0;
  margin: 0;
}
/*  الهيدر الي فوق خالص  */
label,
a {
  text-decoration: none;
  color: var(--color-text);
}

ul {
  list-style: none;
  padding: 0;
}

header {
  box-shadow: var(--shadow);
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 10;
}

.header-content-top {
  background: var(--blue);
  height: 30px;
  width: 100%;
}

.header-content-top .content {
  align-items: center;
  display: flex;
  height: 30px;
  justify-content: flex-end;
  margin: 0 auto;
  max-width: 1300px;
  width: 100%;
}

.header-content-top .content span {
  color: #fff;
  font-size: 12px;
  margin: 0 15px;
}

.header-content-top .content span .fas {
  margin-left: 5px;
}

/* inner container */
.container {
  align-items: center;
  display: flex;
  height: 70px;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1300px;
  padding: 0 15px;
  position: relative;
  width: 100%;
}

/* logo */
.container .logo {
  color: var(--blue);
  font-size: 40px;
  line-height: 20px;
  padding-left: 15px;
}

/* open search */
.container .open-search {
  border-radius: 3px;
  flex: auto;
  margin: 0 15px;
  overflow: hidden;
  position: relative;
}
@media (max-width: 991px) {
  .container .open-search {
    margin: 0;
    position: static;
    text-align: left;
  }
}
.container .open-search .fa-search {
  display: none;
}
@media (max-width: 991px) {
  .container .open-search .fa-search {
    display: block;
  }
}
.container .open-search .input-open-search {
  display: none;
}
.container .open-search .input-open-search:checked ~ .search {
  display: block;
}

/* container search */
/* container search */
.search {
  display: flex;
}
@media (max-width: 991px) {
  .search {
    display: none;
    position: absolute;
    right: 0;
    top: 70px;
    width: 100%;
    z-index: 999;
  }
}

/* input search effects */
.search .input-search {
  border-radius: 3px;
  border: 1px solid var(--blue);
  height: 40px;
  padding: 0 15px 0 70px;
  width: 100%;
  background: white no-repeat;
  background-image: linear-gradient(
      to bottom,
      var(--blue) 0%,
      var(--lightblue) 90%
    ),
    linear-gradient(to bottom, var(--color-text), var(--color-text));
  background-size: 0 2px, 100% 1px;
  background-position: 50% 100%, 50% 100%;
  transition: background-size 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
}
.search .input-search:focus {
  background-size: 100% 2px, 100% 1px;
  outline: none;
}

/* open search menu mobile */
.search .button-search {
  background: var(--blue);
  border: 0;
  color: var(--color-text);
  cursor: pointer;
  padding: 13px 20px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.search .button-search .fa-search {
  display: block;
}

/* nav mobile */
.container .nav-content .nav-content-list {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 0 15px;
}
.container .nav-content .nav-content-list .nav-content-item {
  align-items: center;
  display: flex;
  height: 40px;
  margin: 0 5px;
  position: relative;
  transition: 100ms all linear 0s;
}
@media (max-width: 991px) {
  .container .nav-content .nav-content-list .nav-content-item {
    padding: 0 5px;
  }
}
.container .nav-content .nav-content-list .nav-content-item .item-arrow {
  margin-right: 5px;
  position: relative;
  top: -3px;
}
@media (max-width: 768px) {
  .container .nav-content .nav-content-list .nav-content-item .item-arrow {
    display: none;
  }
}
.container
  .nav-content
  .nav-content-list
  .nav-content-item
  .open-menu-login-account {
  align-items: center;
  cursor: pointer;
  display: flex;
  position: relative;
  color: var(--blue);
}
.container .nav-content .nav-content-list .nav-content-item .input-menu {
  display: none;
}
.container
  .nav-content
  .nav-content-list
  .nav-content-item
  .input-menu:checked
  ~ .login-list {
  display: block;
}
.container .nav-content .nav-content-list .nav-content-item .login-list {
  background: #fff;
  border-bottom: 3px solid var(--blue);
  border-radius: 3px;
  box-shadow: var(--shadow);
  display: none;
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 28px;
  transition: 100ms all linear 0s;
  width: 200px;
  z-index: 10;
}
.container
  .nav-content
  .nav-content-list
  .nav-content-item
  .login-list
  .login-list-item {
  padding: 15px 20px;
}
.container
  .nav-content
  .nav-content-list
  .nav-content-item
  .login-list
  .login-list-item:hover {
  background: var(--blue);
}
.container
  .nav-content
  .nav-content-list
  .nav-content-item
  .login-list
  .login-list-item:hover
  a {
  color: #fff;
}
.container
  .nav-content
  .nav-content-list
  .nav-content-item:nth-child(2):hover
  .fas {
  color: #e74c3c;
}
.container .nav-content .nav-content-list .nav-content-item:hover .fas {
  color: var(--blue);
}
.container .nav-content .nav-content-list .account-login .login-text {
  align-items: end;
  display: flex;
  flex-direction: column;
  font-size: 12px;
  margin-right: 5px;
}
@media (max-width: 991px) {
  .container .nav-content .nav-content-list .account-login .login-text {
    display: none;
  }
}
.container .nav-content .nav-content-list .account-login .login-text strong {
  display: block;
}
.container .nav-content .nav-content-list .nav-content-link {
  border-radius: 3px;
  font-size: 19px;
  padding: 10px 15px;
  transition: 100ms all linear 0s;
  color: var(--blue);
}
@media (max-width: 991px) {
  .container .nav-content .nav-content-list .nav-content-link {
    padding: 0;
  }
}
/* container navigation */
.nav-container {
  align-items: center;
  display: flex;
  margin: 0 auto;
  max-width: 1300px;
  width: 100%;
  color: var(--blue);
}

/* ul list category featured */
.nav-container .nav-row {
  align-items: center;
  display: flex;
  height: 40px;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}
@media (max-width: 991px) {
  .nav-container .nav-row {
    display: none;
  }
}
/* items categories */
.nav-container .nav-row .nav-row-list {
  flex: auto;
}
.nav-container .nav-row .nav-row-list .nav-row-list-link {
  align-items: center;
  display: flex;
  height: 40px;
  justify-content: center;
  transition: 100ms all linear 0s;
  color: var(--blue);
}
.nav-container .nav-row .nav-row-list .nav-row-list-link:hover {
  background: var(--blue);
  color: var(--color-text);
  width: 100%;
}

/* list category featured */
.nav-container .featured-category {
  flex: auto;
  margin: 0 0 0 15px;
}
@media (max-width: 991px) {
  .nav-container .featured-category {
    display: none;
  }
}

/* container all navigator */
.nav-container .all-navigator {
  align-items: center;
  background: var(--blue);
  color: #fff;
  display: flex;
  height: 40px;
  padding: 0 25px;
  width: 100%;
}
@media (max-width: 991px) {
  .nav-container .all-navigator {
    margin-left: 0;
  }
}
.nav-container .all-navigator .fa-angle-up,
.nav-container .all-navigator .fa-angle-down {
  position: absolute;
  left: 25px;
}
.nav-container .all-navigator .fa-angle-up {
  display: none;
}
.nav-container .all-navigator .fas {
  font-size: 16px;
  margin-left: 0;
}
.nav-container .all-navigator span {
  margin-right: 15px;
}

/* button all category */
.nav-container .all-category-nav {
  cursor: pointer;
  max-width: 300px;
  position: relative;
  width: 100%;
}
@media (max-width: 991px) {
  .nav-container .all-category-nav {
    max-width: 100%;
  }
}
/* label menu all */
.nav-container .all-category-nav .open-menu-all {
  align-items: center;
  cursor: pointer;
  display: flex;
  position: relative;
}
/* input menu all */
.nav-container .all-category-nav .input-menu-all {
  display: none;
}
.nav-container .all-category-nav .input-menu-all:checked ~ .all-category-list {
  display: block;
}
.nav-container
  .all-category-nav
  .input-menu-all:checked
  + .all-navigator
  .fa-angle-down {
  display: none;
}
.nav-container
  .all-category-nav
  .input-menu-all:checked
  + .all-navigator
  .fa-angle-up {
  display: block;
}
/* all category list */
.all-category-list {
  background: #fff;
  border-bottom: 3px solid var(--blue);
  box-shadow: var(--shadow);
  display: none;
  height: auto;
  min-height: 300px;
  padding: 15px 0;
  position: absolute;
  top: 24px;
  width: 300px;
  z-index: 90;
}
@media (max-width: 991px) {
  .all-category-list {
    min-width: 100%;
  }
}

/* items primary categories */
.all-category-list-item:hover {
  display: block;
  background: var(--blue);
}
.all-category-list-item:hover .category-second-list {
  right: 100%;
  opacity: 1;
  visibility: visible;
}
.all-category-list-item:hover .all-category-list-link {
  color: var(--color-text);
}

/* primary items menu category all */
.all-category-list-link {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 15px;
  transition: 100ms all linear 0s;
  color: var(--blue);
}

/* container cateory all */
.category-second-list {
  background: #fff;
  border-bottom: 3px solid var(--blue);
  box-shadow: inset -44px -1px 88px -59px rgba(0, 0, 0, 0.37);
  display: flex;
  height: 322px;
  right: 80%;
  min-height: 297px;
  min-width: 400px;
  opacity: 0;
  position: absolute;
  top: 0;
  transition: 100ms all linear 0s;
  visibility: hidden;
  width: auto;
}
@media (max-width: 991px) {
  .category-second-list {
    display: none;
  }
}
.category-second-list .img-product-menu img {
  max-width: 180px;
}

/* list category second level */
.category-second-list-ul {
  display: flex;
  flex-direction: column;
  min-width: 400px;
  padding: 0 15px;
}

/* items second level */
.category-second-item a {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 15px;
  color: var(--blue);
}
.category-second-item:hover {
  background: var(--blue);
  color: var(--color-text);
}
.category-second-item:hover a {
  color: #fff;
}

.fa-bars {
  font-size: 28px;
}
